.button-deck {
  height: 30pt;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  background: hsla(224, 85%, 24%, 1);
  transition: background-color 1s ease-out;
  gap: 10px;
  padding: 0 10px 0 3px;
}
.button-deck.bg-stream {
  background: hsla(300, 95%, 15%, 1);
}

.bg-off {
  background: hsla(224, 47%, 11%, 1);
}
.bg-off.bg-stream {
  background: hsla(224, 27%, 11%, 1);
}
.bg-warn {
  background: hsla(344, 85%, 24%, 1); }
.bg-warn.bg-stream {
  background: rgba(113, 9, 37, 1);
}

.button-deck > .deck-item, .button-deck > .deck-section > .deck-item {
  transition: opacity 2s;
  width: 37px;
}
.button-deck> * {
  height: 37px;
}
.button-deck > .deck-section.deck-section-wide {
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  gap: 0;
  margin-right: -10px;
}

.deck-section {
  display: flex;
  gap: 2px;
  height: 37px;
  color: #b097fc;
}

.deck-item {
  display: inline-flex;
  text-align: center;
  align-items: center;
  width: 37px;
  height: 37px;
}
.deck-item svg {
  height: 21px
}
.icon-square {
  color: #092571;
  background: #b097fc;
  width: 24px;
  display: inline-flex;
  height: 22px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 1.6em;
}
.icon-square svg {
  height: 12px;
}
.deck-item-labeled {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.7em;
  gap: 5px;
}
.title-case {
  text-transform: capitalize;
} 
.vertical-bar {
  display: inline-block;
  border-right: 2px solid hsla(255, 94%, 79%, 0.3);
  height: 51px;
}

.mode-icons .deck-section .deck-section-wide {
  gap: 2px;
}

