.mic-icon {
    /* transition: all 0.7s; */
}

.mic-icon-wrapper {
    /* transition: opacity 2s; */
    position: relative;
    width: 26px;
    height: 25px;
}
.bg-off.bg-stream .mic-icon-wrapper {
    opacity: 0.6;
}
.mic-icon {
    position: absolute;
}

.mic-icon.hidden {
    display: none;
}

.on-off-button.mic-icon {
    width: 26px;
    height: 30px;
}

.mic-icon.mic-meter.hidden {
    /* display: none; */
}

.meter-outer {
    margin-left: 9px;
    width: 8px;
    height: 27px;
    background: #b097fc;
    box-shadow: inset 1px 1px 1px #00000049;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.meter-inner {
    width: 8px;
    max-width: 8px;
    min-width: 8px;
    max-height: 36px;
    height: 36px;
}