@font-face {
  font-family: "PlexMono";
  src: url("/assets/IBMPlexMono-SemiBold-Latin1.woff2");
}

.command-history {
  /* height: 230px;
  max-height: 230px; */
  margin: 0 0 3px 0;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content:space-between;
  text-align: center;
  min-height: 0;
}
.command-history-entries {
  overflow: clip;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  flex: 1;
  min-height: 0;
}

.command-history .entry {
  padding: 0.15em;
  border-top: 1px solid hsla(262, 50%, 50%, 0.4) ;
  color: #d5d4d4;
  transition: border-color 0.25s;
  animation: 120ms linear slide-in;
}
.command-history .entry.command {
  background-color: hsla(265, 60%, 7.5%);
}
.command-history .entry.notify-success {
  background-color: hsla(111, 93%, 21%);
}
.command-history .entry.notify-info {
  background-color: hsla(187, 88%, 27%);
}.command-history .entry.notify-alert {
  color: black;
  background-color: hsla(56, 74%, 45%);
}

.command-history .entry.notify-warn {
  background-color: hsla(12, 100%, 28%);
}

@keyframes slide-in {
  0% {
    transform: translateY(100%)
  }

  100% {
    transform: translateY(0)
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}