.chat-box {
  display:flex;
  flex-direction: column;
  justify-content: end;
  background: hsl(263, 47%, 15%);
  height: 355px;
  flex: 1;
  padding-bottom: 2px;
}

.chat-message {
  position: relative;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: hsla(255, 94%, 89%, 1);
}

.message-controls {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  opacity: 0;
  padding: 0 4px;
  transition: opacity 1s ease;
}
.chat-message:hover .message-controls {
  opacity: 90%;
  
}
.message-control-item {
 text-align: right;
  cursor: pointer;
}

.username {
  font-family: "IBM Plex Mono";
  font-weight: 600;
}
.username.blue{
  color: #6363fd;
}
.username.yellow{
  color: hsl(45, 74%, 57%);
}
.username.red{
  color: hsl(0, 87%, 44%);
}
.username.green{
  color: hsl(90, 83%, 38%);
}
.username.white{
  color: hsl(88, 25%, 90%);
}
.username.orange{
  color: hsl(22, 100%, 37%);
}
.username.pink{
  color: hsl(307, 94%, 46%);
}