.start-camera {
  z-index: 9;
  position: relative
}
.camera-video {
  margin-left: -245px;height: 440px;margin-top:-74px;
}
.selected-camera {
  position: absolute;
  opacity:0;
}

.selected-camera:hover{
  opacity:1;
}