main.stream {
  flex: 1;
  justify-content: start;
}

main.narrow {
  border-left: 2px solid hsla(255, 94%, 79%, 0.5);
}

main.small {
  border-left: 2px solid hsla(255, 94%, 79%, 0.5);
}

#wrapper.small {
  justify-content: space-around;
}
#wrapper.stream {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}