.stats-box{
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-grow:0;
  color: #ccd;
  padding-top: 2px;
  margin-right: 2px;
  font-size: 12px;
  gap: 4px;
}
.stats-item strong {
  font-weight: bold;
}
.stats-item {
  padding-right: 4px;
  /* border-right: 1px solid #656; */
}
.stats-item:last-child {
  padding-right: 0;
}
.stats-item::after {
  content: ', '
}
.stats-item:last-child::after{
  content: ''
}
.stats-scope {
  display: flex;
  flex-direction: row;
  /* gap: 4px; */
}
.stats-scope:last-child {
  padding-right: 0;
}